svg {
    @apply
    w-6 h-6
    inline
    text-black-custom
    cursor-pointer

    hover:text-accent-primary
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select {
    @apply
    w-full h-10
    my-2 py-2 px-3
    border rounded-md
    disabled:bg-slate-50 
    disabled:text-slate-500 
    disabled:border-slate-200 
    disabled:shadow-none;
}

h1, h2, h3, h4, h5, h6, p, span {
    @apply
    text-gray-500
}

button {
    @apply
    bg-gray-300
}

button.primary {
    @apply
    bg-accent-primary
    p-2 w-full
    text-white
    rounded-2xl

    hover:bg-accent-secondary
}

h1 {
    @apply
    font-sans
    font-black
}

.navbar-links li {
    @apply 
    px-4 py-1 
    font-semibold text-black-custom
    rounded-lg 
    cursor-pointer 

    hover:text-accent-primary;
}

.sidenav-links {
    @apply
    mt-2 p-2
    border-b-2 
    border-b-gray-200 
    hover:bg-accent-secondary 
    hover:text-white-custom hover:rounded
}